<% if model.errors.any? %>
  <div class="container text-center text-white font-italic">
    <div class="alert alert-error recipe-faded mt-1">
      <h4>Warning!</h4>
      <p><%= pluralize(model.errors.count, "error") %> prohibited this from being saved:</p>
      <% model.errors.full_messages.each do |errors| %>
        <li><%= errors %></li>
      <% end %>
    </div>
  </div>
<% end %>