<% if model.errors.any? %>
  <div class="container ">
    <div class="alert alert-error bg-success mt-1">
      <h4>Warning!</h4>
      <p><%= pluralize(model.errors.count, "error") %> prohibited this user from being saved:</p>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  </div>
<% end %>