<nav class="navbar recipe-color">
  <div class="navbar-brand navbar-fixed-top">
    <%= link_to "Home page", root_path, class: "btn recipe-color text-white" %>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if user_present? %>
          <%= link_to "New Recipe", new_recipe_path, class: "btn recipe-color text-white" %>
          <%= link_to "Log out", logout_path, method: :delete, class: "btn recipe-color text-white" %>
        <% else %>
          <%= link_to "Log in", login_path, class: "btn recipe-color text-white" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>