<h1 class="text-center text-white recipe-color font-italic"><strong>Cocktail recipes</strong></h1>
<% @recipes.each do |recipe|%>
  <div class="ml-5 ">
    <%= render 'recipe', recipe: recipe %>
  </div>
<%end %>

