.card-width {
  max-width: 15rem;
}

.home-page {
  background-image: url("VEGETABLES.jpg")
}

.recipe {
  background-image: url("best_food.jpeg")
}

.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
}