body {
  background-image: url("cocktails.jpg");
  overflow-x: hidden;
}

.card-width {
  max-width: 15rem;
}

.recipe-color {
  background-color: #dd7e125c;
}

.recipe-faded {
  background-color: #39362f66;
}

.form-color {
  background-color: #ffffff1f;
}

