.card-width {
  max-width: 15rem;
}

.home-page {
  background-image: url("cocktails.jpg")
}

.recipe {
  background-image: url("best_food.jpeg")
}

.recipe-color {
  background-color: #dd7e125c;
}

.recipe-faded {
  background-color: #39362f66;
}

.form-color {
  background-color: #ffffff1f;
}
